/* App.css */

/* Set background on full-width-container */
.full-width-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #6B2976; /* NDIS purple background */
  color: #ffffff;
  min-height: 100vh;
}

/* Main app container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1400px;
  min-width: 800px;
  gap: 20px;
  background-color: transparent; /* Ensure transparency to show full-width background */
}

/* Title */
.app-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 40px 0;
  text-align: center;
}

/* Top section with search fields and map */
.top-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
  max-height: 50vh;
  margin-top: 20px;
}

/* Search fields container */
.search-container {
  flex: 1;
  padding: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Style for input fields and dropdowns */
input[type="text"], select {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}
/* Style for the postcode input field to fit 4 digits */
input[name="postcode"] {
  width: 60px; /* Adjust width as needed */
  font-size: 18px;
  padding: 10px;
  margin: 10px 0;
}

/* Map container */
.map-container {
  flex: 1;
  height: 50vh;
  min-width: 400px;
  display: flex;
  align-items: flex-end;
  position: relative;
  top: -40px;
}

/* Feedback/results container */
.provider-details-container {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  padding: 20px;
  padding-top: 30px;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 40vh;
  margin-top: 20px;
  text-align: left;
}
